#background-image {
  position: fixed;
  opacity: 0.5;
  width: 100%;
  z-index: -1;
}

#display {
  display: flex;
  justify-content: space-between;
}

header {
  text-align: right;
  padding: 20px;
}

main {
  padding: 20px;
}

/* parchment will need to be adjusted after photoshop */
#parchment {
  height: 750px;
  margin-top: 20px;
  position: relative;
}

#form-text {
  position: absolute;
  top: 200px;
  right: 120px;
  width: 350px;
  z-index: 10;
}

#object-image {
  width: 100px;
  margin-top: 20px;
  margin-left: 115px;
}
